@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

* {
  font-family: 'Crimson Text', serif;
    box-sizing: border-box;
    margin: 0;
    background-color:white;
  }
 
  .App .Nav {
    margin: 0;
    padding: 20px ;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: rgb(108, 88, 126);
    text-decoration: none;
  }
  
  .Nav {
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(108, 88, 126);
  }
